@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Open+Sans:wght@500&family=Oswald:wght@500&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/** navbar styling starts**/
.logo {
  margin-left: 12vw;
}

.nav-ul {
  margin: auto;
}

.nav-ul > li > a {
  margin-left: 30px;
}

.hamburger {
  border-color: #fd7014;
}

.hamburger:hover {
  border: none;
  background-color: #fd711494;
 transition: all 0.2s ease-in-out;
}

.active {
  color: #fd7014 !important;
}

.nav-link{
  display: inline-block;
  position: relative;
}

.nav-link:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fd7014;
  transform-origin: bottom center;
  transition: transform 0.25s ease-in-out;
}

.nav-link:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}


/**navbar styling ends**/

/**first container area styling starts**/
.container {
  display: flex;
  margin-top: 5vh;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.discription {
  width: 600px;
}

.heading {
  font-family: "Oswald", sans-serif;
}

.content {
  font-family: "Fira Sans", sans-serif;
  color: #696969;
  line-height: 25px;
}

.common-button {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #fd7014;
  color: white;
  border: none;
  transition: all 0.3s linear;
}

.common-button:hover {
  background-color: transparent !important;
  color: #fd7014 !important;
  box-shadow: 0 0.5px 1px rgb(92, 92, 92) !important;
}

.register{
  animation-name: register;
  animation-duration: 1s;
  animation-iteration-count: 30;
} 

@keyframes register {
       0%{background-color: #fd7014;}
       50%{background-color: transparent; color: #fd7014;}
}

.intro-image {
  max-width: 100%;
  min-height: 40vh;
  vertical-align: middle;
  justify-content: right;
}

/**first container area styling ends**/

hr {
  background-color: #fd7014;
  width: 100px;
  opacity: 1;
  border: none;
  height: 2px;
  margin: auto;
}

.home-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event {
  box-shadow: 0 1px 2px rgb(65, 64, 64);
  border-radius: 15px;
}

.event:hover {
  box-shadow: 0 0px 10px rgb(250, 135, 4);
  transition: all 0.3s linear;
}

/**Joinus container styling starts**/

.joinus-anchor {
  margin-left: 5%;
  margin-top: 5vh;
}

.joinus-cards > a {
  text-decoration: none;
}

.joinus-icons {
  display: inline-block;
  margin: 5% 40%;
  font-size: 4rem;
  color: #696969;
}

.joinus-card,
.internships-card {
  border-radius: 20px !important;
}

.joinus-cards h3 {
  color: #fd7014;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.joinus-card:hover {
  box-shadow: 0 0px 6px rgb(250, 135, 4);
  transition: all 0.3s linear;
  transform: scale(1.05);
}

.joinus-cards > a:hover .joinus-icons {
  color: #fd7014;
}
/**Joinus Styling ends**/

.team-image {
  border-radius: 50%;
  max-width: 70%;
  margin: 20px 40px;
  border: #fd7014;
  border-style: solid;
}

.team-members {
  height: 440px;
  width: 98vw;
  background-color: #d3d3d3;
  text-align: center;
  overflow: hidden;
  margin: auto;
  border: none !important;
}

.WeOffers ul {
  list-style-type: disc;
  line-height: 60px !important;
}

.WeOffers > ul > li {
  margin-left: 10%;
}

.Intrested {
  margin-left: 25%;
}

.feedbacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto;
}

.feedbacks > .card {
  margin-top: 5vh;
}

.feedback-image {
  border-radius: 50%;
  max-width: 50%;
  margin: 20px 25%;
  border: #fd7014;
  border-style: solid;
}

.faq-button {
  background-color: #ffba8c;
}

.faq:hover {
  box-shadow: 0 0px 3px rgb(250, 135, 4);
}

form {
  padding: 10px;
}

.form-container {
  width: 600px;
  height: auto;
  padding: 10px;
  background-image: url(./images/mail\ gif.gif);
  background-size: cover;
  border-radius: 15px;
}

.form-container > form > input {
  margin-top: 20px;
}

.contact-us-image {
  max-width: 45%;
}

footer {
  background-color: black;
  bottom: 0;
}

.footer-content {
  color: white;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.about {
  max-width: 30%;
}

.quick-links > li,
.contact-details > li {
  list-style-type: none;
  font-family: "Fira Sans", sans-serif;
  line-height: 30px;
}

.text {
  color: #b3b3b3;
}

.quick-links > li > a {
  text-decoration: none;
  color: #b3b3b3;
}

.quick-links > li > a:hover {
  color: #fd7014;
}

/* Contact div Starts */
.contact {
  text-align: center;
}

.contact a {
  text-decoration: none;
  color: #fff;
}

.footer-socials {
  text-align: center;
  display: inline-flex;
  background-color: #000;
  text-decoration: none;
}

.footer-socials .icon{
  
  color: #fff;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer-socials .icon span a{
  display: block;
  height: 60px;
  width: 60px;
  background: #000;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer-socials .icon span a i{
  line-height: 60px;
  font-size: 25px;
}
.footer-socials .icon .tooltip{
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer-socials .icon:hover .tooltip{
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.footer-socials .icon:hover span a{
  color: #fff;
}
.footer-socials .icon:hover span,
.footer-socials .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(255, 250, 250, 0.4);
}

.footer-socials .linkedin:hover span > a,
.footer-socials .linkedin:hover .tooltip,
.footer-socials .linkedin:hover .tooltip:before{
  background: #fd7014;
}
.footer-socials .instagram:hover span a,
.footer-socials .instagram:hover .tooltip,
.footer-socials .instagram:hover .tooltip:before{
  background: #fd7014;
}
.footer-socials .discord:hover span a,
.footer-socials .discord:hover .tooltip,
.footer-socials .discord:hover .tooltip:before{
  background: #fd7014;
}
.footer-socials .github:hover span a,
.footer-socials .github:hover .tooltip,
.footer-socials .github:hover .tooltip:before{
  background: #fd7014;
}
.footer-socials .email:hover span a,
.footer-socials .email:hover .tooltip,
.footer-socials .email:hover .tooltip:before{
  background: #fd7014;
}
/* contact div ends */

.copyright-content {
  margin-top: 50px;
  text-align: center;
}

.copyright-content > p > a {
  color: #fd7014;
  text-decoration: none;
}
/* Toggle Switch styling starts here */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 44px;
  height: 20px;
  background-color:white;
  border: 0.8px solid #4C4C4C;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 14px;
  height: 14px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1px solid #4C4C4C;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
  transform: translateX(24px);
}

.bi-moon {
  color: black;
}

.bi-sun {
  color: white;
}
/* Toggle Switch styling ends here */

/* dark mode styling starts here */
.dark-mode{
  background-color: black;
  color: white;
}
.dark-nav{
  background-color: black;
}
.dark-anchor-tag{
  color: white;
}
.dark-anchor-tag:hover{
  color: white;
}
.dark-card{
  background-color: #121212;
}
.dark-card-2{
  background-color: black;
}
/* dark mode styling ends here */

.WhyToJoin{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (min-width: 601px) and (max-width: 604px){
  .WeOffers ul {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .WhyToJoin{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .WhyToJoin > .image {
    display: none;
  }

  .mobile-view > li {
    font-size: small;
    line-height: 15px;
    margin-top: 18px;
  }

  .accordion {
    width: 90% !important;
    margin: auto;
  }

  .contact-us-image {
    max-width: 100%;
    margin-top: 20px;
  }

  .about {
    max-width: 80%;
  }
}

